<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DefaultConnectionString" value="tcp://bxzwrt.messaging.internetofthings.ibmcloud.com:1883 "/>
    <add key="AuthMode" value="use-token-auth"/>
    <add key="AuthToken" value="3Z6xCZe8mgaN3)y(@8"/>
    <add key="PublishTopic" value="iot-2/evt/iotsensor/fmt/json"/>
    <add key="SubcribtionTopic" value="iot-2/evt/iotsensor/fmt/json"/>
  </appSettings>
</configuration>